*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html,body{
    width: 100%;
    height: 100%;
}
/* .square{
    margin: 20px;
    width: 200px;
    height: 200px;
    border: 2px solid black;
    background-color: rgb(00, 00, 00) */ 
    /* background-color: #543310; --->this color is taken from site "color hunt" where you can get hexadecimal value of any color
} */

#main{
    height: 100%;
    width: 100%;
    background-color: lightblue;
    /* display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly; //this all is flex */

    /* //Grid use garera banauna
    display: grid;
    grid-template-columns: 20% 20% 20% 20% ;
    grid-template-rows:20% 20% 20% 20%;
    align-items: center;
    justify-items: center ; */

    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 200px 200px;
    align-content: space-evenly;
    justify-content: space-evenly ;

}

.elem{
    height: 200px;
    width: 200px;
    background-color: crimson;
    border: 3px solid black;
}